.header{
    display: flex;
    justify-content: space-between;
}
.link{
    width: 150px;
    height: 70px;
    background-color: wheat;
    border-bottom-right-radius: 20px;
    color: black;
    padding: 10px 20px;
   
    background-image: linear-gradient(wheat, rgb(245, 196, 179));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 0.5s;
}
.link:hover{
    background-size: 100% 100%;
    background-position-x: left;
    /* background-color: rgb(245, 196, 179); */
   
}
.link_2{
    width: 150px;
    height: 70px;
    background-color: rgb(179, 245, 227);
    border-bottom-right-radius: 20px;
    color: black;
    padding: 10px 20px;
   
}
.link_2:hover{
    background-color: rgb(179, 202, 245);
   
}
.header__contentbox{
     display: flex;
     flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.text{
    font-size: 50px;
}
.content{
    margin-top: 40px;
}