@import "../../index.scss";

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


.info__present {
    height: 150px;
    margin-top: 20px;
    background-color: rgb(234, 185, 111);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    align-items: center;
    color: var(#{--text-color-light});
}

.title {
    font-size: 48px;
    margin-top: 30px;

}

.subtitle {
    margin-top: 20px;
    max-width: 550px;
    font-size: 20px;
    line-height: 24px;
}

.tab_wrapper {
    width: 100%;
    background: rgb(26, 36, 27);
    height: 600px;
    border: 1px solid white;
    border-radius: 0 4px 4px 4px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 0 0 300px -60px white;
}
.tab_wrapper >div{
    border-top: 1px solid white;
}
.tabs_content {
    width: 40%;
    display: flex;
    justify-content: space-between;
    

}
.tab{
    background: white;
    padding: 10px;
}
.tab_container {
    border: 1px solid white;
    padding: 10px;
}

.tabs_list {
    margin-top: 20px;
    padding: 10px
}

.tabs_item {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
}
.tabs_info{
    display: none;
}
.content_active{
    display: block;
}
.skills >li{
    display: flex;
    align-items: center;
}
.load{
    width: 100px;
    height: 10px;
    border: 1px solid white;
    position: relative;
    &::after{
        content: '';
        width: 80%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 0;
    }
}