.works{
    width: 100%;
    
    padding: 0 5px;
    &_wrapper{
        margin-top: 100px;
    }
    &_title{
        font-size: 50px;
        line-height: 140%;
    }
    &_content{
        margin-top: 40px;
    }
    &_inner{
        position: relative;
        border-radius: 10px;
    
    }
   
    &_img{
        width: 60%;
        height: 300px;
        border-radius: 10px;
    
        &:hover{
            border: 1px solid rgb(91, 89, 89);
            border-radius: 10px;
        }
        
    }
    &_undertitle{
        text-align: right;
        margin-right: 20px;
        font-size: 14px;
        line-height: 140%;
    }
    &_inner_textbox{
        width: 50%;
        position: absolute;
        top:20px;
        right: 0;
       h3{
        font-size: 29px;
        line-height: 140%;
        text-align: right;
        margin-right: 20px;
        } 
    }
    &_list{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        
        & p{
            
         
        }
    }
    &_item:not(:first-child){
        margin-left: 20px;
       
    }
    &_descr{
        color: white;
        background: #434B4D;
        border-radius:10px;
        padding: 10px;
        margin-top: 20px;
    }
    
}


@media (max-width: 700px) {
    .works{
       padding-bottom: 0px;

        &_inner_textbox{
           
            width: 60%;
           
        }
        &_img{
            width: 60%;
            height: 280px;
        }
    }   
}
@media (max-width: 440px) {
    .works{
        &_inner_textbox{
         position: relative;  
            width: 96%;
           
        }
        &_img{
            width: 96%;
            height: 240px;
        }
        &_descr{
            margin-top: 0;
        }
    }
}
