.form {
    width: 100%;
    margin-top: 20px;

    &_inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_input {
        font-family: 'Ubuntu', sans-serif;
        width: 46%;
        height: 60px;
        padding: 20px 10px;
     
        color: white;
        border: none;
        background-color: transparent;
        outline: none;
        border-bottom: 1px solid #24211e;

        &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: rgba(159, 159, 159, 0.566);
        }

        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgba(159, 159, 159, 0.566);
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgba(159, 159, 159, 0.566);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: rgba(159, 159, 159, 0.566);
        }
        &:focus{
            border-bottom: 1px solid #fff;
        }
      
    }

    &_textarea {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 20px;
        background-color: transparent;
        outline: none;
        resize: none;
        appearance: none;
        border: none;
        width: 100%;
        height: 100px;
        padding: 20px 10px;
        line-height: 20px;
        color: white;
        border-bottom: 1px solid #24211e;
        &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: rgba(159, 159, 159, 0.566);
        }

        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgba(159, 159, 159, 0.566);
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgba(159, 159, 159, 0.566);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: rgba(159, 159, 159, 0.566);
        }
        &::-webkit-scrollbar{
            width: 8px;
            height: 10%;
            background-color: #434B4D;
        }
        &::-webkit-scrollbar-thumb{
            background: #24211e;
        }
        &:focus{
            border-bottom: 1px solid #fff;
        }
    }

    &_btn {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 20px;
        width: 30%;
        height: 0px;
        background-color: transparent;
        padding: 20px 10px;
        border: none;
        font-size: 22px;
        line-height: 24px;
        cursor: pointer;
        color: rgb(212, 212, 212);
        overflow: hidden;
        border-bottom: 1px solid #24211e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover{
            color: white;
        }
    }
}


.modal{
    width: 150px;
    height: 50px;
    font-size: 22px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}