.container{
    width: 100%;
    padding: 0 5px;
    margin-top: 100px;
    min-height: calc(90vh - 120px - 60px);
}
.devices {
    &_title{
        font-size: 46px;
        line-height: 140%;
    }
    &_subtitle{
        margin-top: 10px;
    }
    &_img{
        width: 36px;
        height: 36px;
        color:var(#{--body-bg-default})
        
    }
    &_list{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        
    }
}
.technologies{
    margin-top: 100px;
}
.tool{
  
    &_contentbox{
        margin-top: 30px;
    }
    &_subtitle{
        margin-top: 10px;
    }
}
.about{
    margin-top: 100px;
}