.container{
 padding: 20px;

}
.works{
    &_list{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &_item{
        width: 20%;
        margin-right: 30px;
    }
    &_date{
        font-size: 14px;
    }
    &_box{
      width: 500px;
    }
    &_position{
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }
    &_stack{
        font-size: 14px;
        line-height: 16px;
        margin: 10px 0;
    }
}

@media (max-width: 465px) {
    .container{
        margin-top: 20px;
        padding: 0;
    }
    .works{
        &_list{
            flex-direction: column;
        }
        &_box{
            max-width: 100%;
          }
      
    }
}
@media (max-width: 465px) {
    .works{
        &_list{
            margin-top: 30px;
        }
        &_box{

        }
    }
}