.time {
    width: 270px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(42, 20, 44, 0.8);

    background: linear-gradient(90deg, rgb(32, 32, 53)0%, rgb(25, 42, 83) 40%,rgb(198, 152, 195) 100%, rgb(158, 113, 169) 100%);
    border-radius: 20px;
    padding: 2px 8px;
   
}
.time_wrapper{
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.time_img{
    height: 30px;
    width: 30px;
    fill: white;
}
.time_do{
    color: white;
    font-size: 18px;
    line-height: 140%;
    
}

@media (max-width: 460px) {
    .time{
        width: 38px;
        padding: 2px 4px;
    }
    .time_do{
        display: none;
    }
}
