@import "../../index.scss";

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}


.info__present {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.undertitle{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 58px;
    font-size: 58px;
    color: var(#{--text-color-default});
    
}
.title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 58px;
    margin-top: 10px;
    color: var(#{--text-color-default});

}

.subtitle {
    margin-top: 20px;
    max-width: 550px;
    font-size: 20px;
    line-height: 24px;
    color: var(#{--text-color-default});
}

.tabs {
    &_wrapper {
        width: 100%;
        background:  #434B4D;
        height: 600px;
        border-radius: 10px;
        margin-top: 80px;
        box-shadow: 0 0 200px -60px white;
        overflow: hidden;
    }
    &_head{
        background-color: #24211e;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      
    }
    &_content {
        width: 40%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-top-left-radius: 10px;
        & div{
            
            padding: 10px;
        }
    }
    &_link{
       
        border-top-left-radius: 10px;
    }
    &_bot{
        padding: 20px 20px;
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 8px;
            height: 10%;
            background-color: #434B4D;
        }
        &::-webkit-scrollbar-thumb{
            background: #24211e;
        }
    }
}

.tab{
    border: solid white;
    border-width: 1px 1px 0px 0px;
    border-top-left-radius: 6px;

}

.tabs_list {
    margin-top: 20px;
    padding: 10px
}

.tabs_item {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
}
.tabs_info{
    display: none;
}
.content_active{
    display: block;
}
.skills >li{
    display: flex;
    align-items: center;
}
