@import '../../index.scss';
.navbar_wrapper{
    width: 100%;
    padding: 0 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    padding-top: 10px;
   
}
.logo{
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.logo_img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    fill: var(#{--text-color-default});
}
.logo_text{
    color: var(#{--text-color-default});
    font-size: 18px;
    
}


.color_scheme{
    height: 30px;
    background: linear-gradient(90deg, rgba(89,89,102,0.5) 0%, rgba(90,109,153,0.5) 0%, rgba(112,110,152,0.5) 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        background: linear-gradient(90deg, rgba(89,89,102,0.5) 0%, rgba(90,109,153,0.5) 0%, rgba(112,110,152,0.5) 100%);
    }
}
.burger_img{
    height: 30px;
    width: 30px;
    margin-left: 40px;
    color: var(#{--text-color-default})
}



