.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container > div{
    display: flex;
    justify-content: space-between;
   
}
.list{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}
.item{
    font-size: 18px;
    line-height: 20px;
    width: 150px;
    flex: 1;
}
.time_wrapper {
    width: 220px;
    padding: 2px 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8e194;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.time_icon{
    background-color: rgb(181, 251, 249);
    border-radius: 50%;
    padding: 2px;
    height: 25px;
    width: 25px;
    color: black;
}
.time_text{
    color: black;
}
