@import '../../index.scss';
.navbar_wrapper{
    width: 100%;
    padding: 0 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    padding-top: 10px;
   
}
.logo{
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.logo_img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    fill: var(#{--text-color-default});
}
.logo_text{
    color: var(#{--text-color-default});
    font-size: 18px;
    
}
.time_wrapper {
    width: 350px;
    padding: 2px 4px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(89,89,102);
    // background: linear-gradient(90deg, rgba(89,89,102,1) 0%, rgba(90,109,153,1) 0%, rgba(112,110,152,1) 100%);
    background: linear-gradient(90deg, rgb(32, 32, 53) 0%, rgb(25, 42, 83) 10%,rgb(199, 175, 197) 60%, rgb(186, 190, 197) 100%);

    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    color: white;
   
}
.time_icon{
    background-color: rgb(232, 246, 251);
    border-radius: 50%;
    padding: 2px;
    height: 25px;
    width: 25px;
    color: black;
  
}
.time_text{
    // color: var(#{--text-color-default});
    color: white;
}
.color_scheme{
   
    height: 30px;
    
 
    background: linear-gradient(90deg, rgba(89,89,102,0.5) 0%, rgba(90,109,153,0.5) 0%, rgba(112,110,152,0.5) 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        background: linear-gradient(90deg, rgba(89,89,102,0.5) 0%, rgba(90,109,153,0.5) 0%, rgba(112,110,152,0.5) 100%);
    }
}
.burger_img{
    height: 30px;
    width: 30px;
    margin-left: 40px;
    color: var(#{--text-color-default})
}


@media (max-width: 600px) {
    .time_wrapper{
        width: 150px;
    }
    .time_text{
        display: none;
    }
    
}