// $body-bg-dark: linear-gradient( 76.3deg,  rgb(21, 37, 53) 12.6%, rgb(24, 45, 63) 82.8% );
$body-bg-dark: linear-gradient( 76.3deg,  rgb(68, 75, 104)12.6%, rgb(32, 41, 65) 82.8% );
$body-bg-light: linear-gradient( 76.3deg,  rgb(247, 221, 242) 25.6%, rgb(176, 201, 238) 82.8% );
$body-bg-default: var(--body-bg-light);

/* color text */
$text-color-dark: #ffffff;
$text-color-light: #000;
$text-color-default: var(--text-color-dark);

// color bg time
$bg-color-light: linear-gradient(90deg, rgb(26 29 4) 0%, rgb(25 30 44) 0%, rgb(99 97 149) 100%);
:root{
  /* body background */
  --body-bg-dark: #{$body-bg-dark};
  --body-bg-light: #{$body-bg-light};
  --body-bg-default: var(#{--body-bg-dark});

  /* color text */
  --text-color-dark: #{$text-color-dark};
  --text-color-light: #{$text-color-light};
  --text-color-default: var(#{--text-color-dark});
}
// variable


*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // cursor: none;
}
a{
  text-decoration: none;
  color: inherit;
  
}               

ul,li{
  list-style: none;

}
body{
  background-image: var(#{--body-bg-default});
  color: var(#{--text-color-default});
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  
  // font-family: 'Ubuntu', sans-serif;
  &::-webkit-scrollbar{
    width: 8px;
    height: 10%;
    background-color: #434B4D;
}
&::-webkit-scrollbar-thumb{
    background: #24211e;
}
}



.container{
  max-width: 900px;
  margin: 0 auto;
  &::before{
    content: '';
    width: 100vw;
    height: 60px;
    position: absolute;
    border-bottom: 1px solid rgba(93, 97, 99, 0.8);
   
    top: 0;
    left: 0;
    z-index: 1;
}
}

h1{
  font-size: 56px;
  line-height: 140%;
  text-align: center;
  display: inline-block;
}
#cursor{
  // background-color: rgb(232, 225, 225);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  transition: all 0.2s linear;
  border: 1px solid rgb(232, 225, 225);
}



.footer{
 background-color: #fff;
}