.contacts_wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    width: 70%;
}


.contacts{
    margin-top: 20px;
    &_list {
        width: 25%;
        &>li {
            display: flex;
            justify-content: space-between;
            width: 150px;
            margin-top: 20px;
            color: rgb(212, 212, 212);
            &:hover{
                color: white;
            }
        }
    }
    &_item{
       
        &_inner{
            display: flex;
            align-items: center;
        }
        &_text{
            margin-left: 5px;
            font-size: 14px;
            line-height: 16px;
        }
        
    }
    
}

.socials_title{
    margin-bottom: 30px;
    font-size: 18px;
    
}